Options -Indexes

RewriteEngine On


# apache rewrite modul: exitierende dateien werden direkt ausgeliefert



RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# alle anderen http anfragen an frontcontroller index 

RewriteRule ^(.*)$ index.php [QSA,L]
